/* поиск врача по странице */
body{
  margin: 25px 50px;
}
.office{
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 40px;

}
.blockDoc{
  display: none;
}
.adressDocTer{
    display: inline-block;
  }
.contentTrp{
    flex-direction: column;
  }
.searchBlock{
  display: inline-block;
  position: relative;
    
}
.Terapevt{
  margin-top: 45px;
  display: flex;
  
  text-transform: uppercase;
}

.Terapevt img{
  width: 250px;
}
.descriptTer {
  display: block;
  padding: 0 20px;
  text-align: left;
}
.descriptTer::before{
  content: "";
  display: block;
  border-top: 2px #303030 solid;
  width: 300px;
}
.descriptTer>p:first-child {
  padding: 25px 0;
}
.descriptTer p{
  padding-bottom: 7px;
}
.titleBlockSearch{
  border-left: 2px  #e77338 solid;
  color:  #e77338;
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 40px;
}
.titleBlockSearch h4{
  text-align: left;
  color: #333;
  font-weight: 400;
  letter-spacing: 3px;
  padding-bottom: 10px;
  font-size: 18px;
}
.searchParg{
  font-size: 13px;
}

  .searchBlock label{
    margin-bottom: 15px;
  }
  
  .inp_submit{
    color: white;
    background-color: #e77338;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 7px;
    box-shadow: 0px 0px 5px #e77338;
  }
  .inp_submit:hover{
    box-shadow: 0px 0px 10px #e77338;
  } 
  .blockPlaceholder{
    position: absolute;
    height: 0px;
    max-height: 250px;
    overflow: hidden;
    top: 37px;
    right: 2px;
    width: 246px;
    padding-left: 10px;
    background-color: #7f7f7f;
    text-align: left;
    box-shadow: 0px 0px 5px #e77338;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
  }
  label{
    display: inline-block;
    color: white;
  }
  .modalOpen{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .8);
  }
  .modalOpenTer{
    margin: auto;
    width: 600px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-image: url(https://совбольница.рф/img/_photo_backgrnd.png);
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .modalOpenTer::after{
    /* content: ''; */
    display: block;
    width: 300px;
    height: 500px;
    background-color: #e77338;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .modalOpenTer h1{
    text-align: center;
    font-size: 15px;
    margin: 25px 15px;
  }
  .contImg img{
   height: 80px;
   width: auto;
   border-radius: 5px;
  }
  .contCloss{
    cursor: pointer;
    position: absolute;
    right: -16px;
    color: white;
    top: -19px;
  }
  .contCloss img{
    width: 15px;
    filter: invert(100%);
  }
  .modalBlock,
  .modalTitel{
    display: flex;
    margin: 0 50px;
    justify-content: space-between;
    align-items: center;
  }
  .modalTitel1,
  .modalTitel2{
    font-weight: 600;
  }
  .modalTitel,
  .modalBlock{
    border: 1px #ccc solid;
    padding: 15px;
  }
  .curtain{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
  }
  .clue{
    position: absolute;

    height: 98px;
    width: 223px;
    z-index: 1;
    top: 58px;
    left: 250px;
  }
  .clue p{
    color: white;
  }
  .clue img{
    width: 25px;
    filter: invert(100%);
    transform: rotate(90deg) scale(1, 1);
  }


  /*старая кнопка */
   .inp_search {
    display: inline-block;
    position: relative;
    background: transparent;
    width: 35px;
    height: 35px;
    padding: 10px;
    border: solid 3px #e77338;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
    color: white;
  }
  .searchBlock > div{
    display: inline-block;
    position: relative;
    margin-right: 10px;
  }
  .searchBlock>p {
    margin-bottom: 15px;
  }
  .searchBlock > div::after{
    content: "";
    background: #e77338;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 27px;
    right: -2px;
    transform: rotate(135deg);
  }
  
  .inp_search::placeholder {
    color: white;
    opacity: 0;
    transition: opacity 150ms ease-out;
  }
  .inp_search:focus::placeholder {
    opacity: 1;
  }
  .inp_search:focus,
  .inp_search:not(:placeholder-shown) {
    width: 250px;
  }
  .activeP{
    position: relative;
    color: white;
    z-index: 1;
  }
  .searchResult{
    display: block;
  }
  .blockUchastok{
    display: flex;
    justify-content: space-between;
  }
  .blockUchastokLeft>div,
  .blockUchastokRight>div{
    height: 250px;
    overflow: hidden;
    text-align: center;
  }

  .blockUchastokLeft>div img,
  .blockUchastokRight>div img{
    width: 250px;
  }
  .blockUchastokLeft p,
  .blockUchastokRight p{ 
    padding: 20px 10px;
    font-size: 20px;
  }

  .blockUchastokContact{
    background-color: #e77338;
    color: white;
    text-align: center;
    font-size: 20px;
  }




