body {
   width: auto; 
   margin: 15px 60px;
}
.adressDocTer{
    display: inline-block;
}
.content{
    flex-direction: column;
}
.active{
    border: 1px red solid;
}
.blockPlaceholder{
    position: absolute;
    left: 40px;
    height: 250px;
    overflow: hidden;
}
label{
    display: block;
}
.modalOpenTer{
    position: absolute;
    top: 0;
}